@model IEnumerable<SlnIannielloRocio.Models.Receta>
<table class="table container">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Titulo)</th>
            <th>@Html.DisplayNameFor(model => model.Autor)</th>
            <th>@Html.DisplayNameFor(model => model.Apellido)</th>
            <th>Operaciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ingredientes)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Instrucciones)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Autor)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Edad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
            </tr>
        }
    </tbody>
</table>
@section SideBar{ 
    @Html.ActionLink("Volver al index", "Index", "Receta")
}